/**@import 'veryless.less';**/
/**
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}	

a {
  color: #00B7FF;
}
**/
.font-tiny {
  font-size: 12px;
}
.font-grey {
  color: #999999;
}
body {
  padding-top: 50px;
  padding-bottom: 40px;
}
/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.right-banner {
  margin: 0 auto;
  max-width: 200px;
}
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
ul.left-padding0 > li {
  padding-left: 0px !important;
  font-size: 12px;
}
div.left-margin2 {
  margin-top: 5px;
  margin-left: 2px;
  font-family: "consolas";
  font-size: 12px;
}
div.left-margin10 {
  margin-top: 10px;
  margin-left: 10px;
  word-break: break-all;
  word-wrap: break-word;
}
/**validation css**/
label.error {
  float: none;
  color: red;
  padding-left: .5em;
  vertical-align: middle;
}
input.error {
  border: 2px solid red;
  background-color: #FFFFD5;
  margin: 0px;
  color: red;
}
.tinyfont {
  font-size: 10px;
}
#content {
  padding: 10px;
  font-family: "consolas";
  font-size: 14px;
}
.muted {
  font-family: "consolas";
}
#textarea {
  font-family: 'consolas';
}
